##############################
## Folders                  ##
##############################
Debug

.vs

##############################
## Files                    ##
##############################
myJsonRapidJson.VC.db
myJsonRapidJson.VC.VC.opendb